In [2]:
#Transformation Technique: biến dữ liệu từ dạng nguyên bản đọc được sang dạng máy
# Binding
# One-hot Encoding
# Functions,....
# => Function prepareation


import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Math': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],
                   'Eng': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8]})
df.shape

df['bin1'] = pd.qcut(df['Math'], q=5)
df

    Math  Eng          bin1
0      4    2  (3.999, 7.2]
1      4    5  (3.999, 7.2]
2      7    4  (3.999, 7.2]
3      8    7   (7.2, 12.4]
4     12    7   (7.2, 12.4]
5     13    8  (12.4, 16.8]
6     15    5  (12.4, 16.8]
7     18    4  (16.8, 22.8]
8     22    5  (16.8, 22.8]
9     23   11  (22.8, 25.0]
10    23   13  (22.8, 25.0]
11    25    8  (22.8, 25.0]

In [3]:
df.shape

(12, 3)

In [5]:
# Binding
# chia làm 5 khoảng có số lượng phần tử trong từng khoảng xấp xỉ nhau

df['bin1'] = pd.qcut(df['Math'], q=5)
df
# đếm số lượng mỗi phần tử
df['bin1'].value_counts()

bin1
(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: count, dtype: int64

In [8]:
# cũng là binding nhưng chia theo phân vị 
df['bin2'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1])


df['bin2'].value_counts()

bin2
(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: count, dtype: int64

In [10]:
# được đánh nhãn theo labels
df['bin3'] = pd.qcut(df['Math'],
                           q=[0, .2, .4, .6, .8, 1],
                           labels=['A', 'B', 'C', 'D', 'E'])
df

df['bin3'].value_counts()

bin3
A    3
E    3
B    2
C    2
D    2
Name: count, dtype: int64

In [11]:
# chia theo khoảng độ lớn (0, 5 => >=0 && <= 5)
df['bin4'] = pd.cut(df['Eng'],
                      bins=[0, 5, 8, float('Inf')],
                      labels=['Bad', 'OK', 'Good'])
df

    Math  Eng          bin1          bin2 bin3  bin4
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A   Bad
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A   Bad
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A   Bad
3      8    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
4     12    7   (7.2, 12.4]   (7.2, 12.4]    B    OK
5     13    8  (12.4, 16.8]  (12.4, 16.8]    C    OK
6     15    5  (12.4, 16.8]  (12.4, 16.8]    C   Bad
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D   Bad
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D   Bad
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E  Good
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E  Good
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E    OK

In [12]:

import pandas as pd

gdp = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France'] 
# phải chuyển sang dạng số
# Create DataFrame
df = pd.DataFrame(list(zip(gdp, countries)),
                  columns=['GDP', 'Countries'])
df

   GDP Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [14]:

from sklearn import preprocessing

# dể encode các column thành labels 
label_encoder = preprocessing.LabelEncoder()
df['labelCountries']= label_encoder.fit_transform(df['Countries']) 
df

   GDP Countries  labelCountries
0   11     Spain               2
1   22    France               0
2   33     Spain               2
3   44   Germany               1
4   55    France               0

In [16]:
# phân biệt các data theo cột
dfOneHotEncoding = pd.get_dummies(df.Countries, prefix='Country')
print(dfOneHotEncoding.head())

   Country_France  Country_Germany  Country_Spain
0           False            False           True
1            True            False          False
2           False            False           True
3           False             True          False
4            True            False          False

In [17]:

df = pd.concat([df, dfOneHotEncoding], axis=1)
df

,GDP,Countries,labelCountries,Country_France,Country_Germany,Country_Spain
0,11,Spain,2,False,False,True
1,22,France,0,True,False,False
2,33,Spain,2,False,False,True
3,44,Germany,1,False,True,False
4,55,France,0,True,False,False

In [18]:
# chuyển theo dạng vector
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df.Countries)
y

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [19]:
from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(df[['Countries']]).toarray()
print(y)


# khi nào dùng labels, khi nào vector
# khi dùng label khi muốn so sánh giá trị, có sự chênh lệch giữa data nhưng lại ko độc lập
# khi dùng vector khi nó độc lập, không thể so sánh dữ liệu

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

In [20]:
# functions
# Normalization 
# Standardization
# popularpuction


import pandas as pd

year = [2010,2011,2012,2013,2014,2015]

salaryHCM = [8.5,9.0,10.5,12.0,11.0,10.0] # lương HCM

salaryLA = [5.5,6.0,6.0,5.5,6.0,5.0] # lương LA

df = pd.DataFrame(list(zip(year, salaryHCM,salaryLA)),
                  columns=['Year', 'HCM','LA'])
df

   Year   HCM   LA
0  2010   8.5  5.5
1  2011   9.0  6.0
2  2012  10.5  6.0
3  2013  12.0  5.5
4  2014  11.0  6.0
5  2015  10.0  5.0

In [21]:
#Normalization: 
# Max Absoulute: biến dữ liệu cũ thành mới nằm trong [-1,1]
# (x(cũ)) / |max|
# |max| : max absoulute


max_la = df['LA'].abs().max()
df['macLA'] = df['LA'] / max_la

df

   Year   HCM   LA     macLA
0  2010   8.5  5.5  0.916667
1  2011   9.0  6.0  1.000000
2  2012  10.5  6.0  1.000000
3  2013  12.0  5.5  0.916667
4  2014  11.0  6.0  1.000000
5  2015  10.0  5.0  0.833333

In [22]:
# |MAX| của HCM
max_la = df['HCM'].abs().max()
df['macHCM'] = df['HCM'] / max_la

df

   Year   HCM   LA     macLA    macHCM
0  2010   8.5  5.5  0.916667  0.708333
1  2011   9.0  6.0  1.000000  0.750000
2  2012  10.5  6.0  1.000000  0.875000
3  2013  12.0  5.5  0.916667  1.000000
4  2014  11.0  6.0  1.000000  0.916667
5  2015  10.0  5.0  0.833333  0.833333

In [23]:
# chia dữ liệu theo cột

from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM        LA
0  0.708333  0.916667
1  0.750000  1.000000
2  0.875000  1.000000
3  1.000000  0.916667
4  0.916667  1.000000
5  0.833333  0.833333

In [24]:
# Hãy cho biết với mức lương HCM và LA lần lượt là 4.5 và 5.75
vSc = scaler.transform([[4.5,5.75]])
vSc

c:\Users\Admin\OneDrive - MSFT\Desktop\HKI 2024-2025\HKI\LTPTDL\Thực hành\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MaxAbsScaler was fitted with feature names
  warnings.warn(

array([[0.375     , 0.95833333]])

In [25]:
# Hãy cho biết giá trị lương của HCM và LA trước khi scale
# nếu biết trước giá trị sau khi scale lần lượt là 0

vR = scaler.inverse_transform([[0.5,0.8]])
vR

array([[6. , 4.8]])

In [26]:
# Hướng dẫn min-max scale về đoạn [0,1]

min_la = df['LA'].min()
max_la = df['LA'].max()
df['mmcLA'] = (df['LA'] - min_la) / (max_la - min_la)

df

   Year   HCM   LA     macLA    macHCM  mmcLA
0  2010   8.5  5.5  0.916667  0.708333    0.5
1  2011   9.0  6.0  1.000000  0.750000    1.0
2  2012  10.5  6.0  1.000000  0.875000    1.0
3  2013  12.0  5.5  0.916667  1.000000    0.5
4  2014  11.0  6.0  1.000000  0.916667    1.0
5  2015  10.0  5.0  0.833333  0.833333    0.0

In [28]:
min_la = df['HCM'].min()
max_la = df['HCM'].max()
df['mmcHCM'] = (df['HCM'] - min_la) / (max_la - min_la)

df

   Year   HCM   LA     macLA    macHCM  mmcLA    mmcHCM
0  2010   8.5  5.5  0.916667  0.708333    0.5  0.000000
1  2011   9.0  6.0  1.000000  0.750000    1.0  0.142857
2  2012  10.5  6.0  1.000000  0.875000    1.0  0.571429
3  2013  12.0  5.5  0.916667  1.000000    0.5  1.000000
4  2014  11.0  6.0  1.000000  0.916667    1.0  0.714286
5  2015  10.0  5.0  0.833333  0.833333    0.0  0.428571

In [29]:
# dùng hàm
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM   LA
0  0.000000  0.5
1  0.142857  1.0
2  0.571429  1.0
3  1.000000  0.5
4  0.714286  1.0
5  0.428571  0.0

In [30]:
# Hãy cho biết với mức lương HCM và LA lần lượt là 4.5 và 5.75
vSc = scaler.transform([[11.0,4.5]])
vSc

c:\Users\Admin\OneDrive - MSFT\Desktop\HKI 2024-2025\HKI\LTPTDL\Thực hành\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[ 0.71428571, -0.5       ]])

In [31]:
#Gỉa sử có giá trị lần lượt là 0.65 và 1.9
vR = scaler.inverse_transform([[0.65,1.9]])
vR

array([[10.775,  6.9  ]])

In [33]:
#Standardrattion: tính ra độ đo giữa các data độc lập


# Tính Z-Score
mean_la = df['LA'].mean()
std_la = df['LA'].std()
df['zLA'] = (df['LA'] - mean_la) / std_la

mean_la = df['HCM'].mean()
std_la = df['HCM'].std()
df['zHCM'] = (df['HCM'] - mean_la) / std_la

df

   Year   HCM   LA     macLA    macHCM  mmcLA    mmcHCM       zLA      zHCM
0  2010   8.5  5.5  0.916667  0.708333    0.5  0.000000 -0.408248 -1.290994
1  2011   9.0  6.0  1.000000  0.750000    1.0  0.142857  0.816497 -0.903696
2  2012  10.5  6.0  1.000000  0.875000    1.0  0.571429  0.816497  0.258199
3  2013  12.0  5.5  0.916667  1.000000    0.5  1.000000 -0.408248  1.420094
4  2014  11.0  6.0  1.000000  0.916667    1.0  0.714286  0.816497  0.645497
5  2015  10.0  5.0  0.833333  0.833333    0.0  0.428571 -1.632993 -0.129099

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])

scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM        LA
0 -1.414214 -0.447214
1 -0.989949  0.894427
2  0.282843  0.894427
3  1.555635 -0.447214
4  0.707107  0.894427
5 -0.141421 -1.788854

In [37]:
sV = scaler.transform([[15,12]])
sV

c:\Users\Admin\OneDrive - MSFT\Desktop\HKI 2024-2025\HKI\LTPTDL\Thực hành\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 4.10121933, 16.99411663]])

In [38]:
#Popular function : chuyển data theo một fucntion nào đó

def funcX(x):
    return x*x + 1

df['TransformX'] = funcX(df[["LA"]])

df

,Year,HCM,LA,macLA,macHCM,mmcLA,mmcHCM,zLA,zHCM,TransformX
0,2010,8.5,5.5,0.916667,0.708333,0.5,0.000000,-0.408248,-1.290994,31.25
1,2011,9.0,6.0,1.000000,0.750000,1.0,0.142857,0.816497,-0.903696,37.00
2,2012,10.5,6.0,1.000000,0.875000,1.0,0.571429,0.816497,0.258199,37.00
3,2013,12.0,5.5,0.916667,1.000000,0.5,1.000000,-0.408248,1.420094,31.25
4,2014,11.0,6.0,1.000000,0.916667,1.0,0.714286,0.816497,0.645497,37.00
5,2015,10.0,5.0,0.833333,0.833333,0.0,0.428571,-1.632993,-0.129099,26.00