In [5]:
#Dữ liệu BOSTON
# Xây dựng mô hình dự báo medv theo age và lstat.
# Biết rằng cần chuẩn hóa dữ liệu StandardScaler cho dữ liệu input trên tập training.
# dữ liệu sẽ được cắt theo tỉ lệ train:test là 90:10 với random state là 10

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

df = pd.read_csv('boston.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [7]:
X = df[['AGE', 'LSTAT']]

y = df['MEDV']

In [8]:
X

      AGE  LSTAT
0    65.2   4.98
1    78.9   9.14
2    61.1   4.03
3    45.8   2.94
4    54.2   5.33
..    ...    ...
501  69.1   9.67
502  76.7   9.08
503  91.0   5.64
504  89.3   6.48
505  80.8   7.88

[506 rows x 2 columns]

In [9]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=10)

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [13]:
mape = mean_absolute_percentage_error(y_test, y_pred)

mape

np.float64(0.2012807931898763)

In [14]:
# Tính R^2 trên tập huấn luyện | Hãy cho biết dựa vào tập huấn luyện thì các biến độc lập giải thích được bao nhiêu phần trăm sự thay đổi của biến phụ thuộc
train_score = model.score(X_train, y_train)
train_score

0.5480883767100382

In [15]:
#Hãy cho biết dòng dữ liệu cuối cùng của tập dữ liệu đầu vào trên tập dữ liệu train
X_train[-1:]

array([[-0.21856566, -0.34247973]])

In [16]:
# Lấy hệ số góc của các biến độc lập trong mô hình
age_coefficient = model.coef_[0]  # Hệ số của biến AGE

age_coefficient

np.float64(0.8433884781639227)

In [17]:
#Hãy cho biết kích thước của tập dữ liệu huấn luyện
X_train.shape

(455, 2)

In [18]:
#Hãy cho biết dòng dữ liệu đầu tiên của tập dữ liệu đầu ra trên tập dữ liệu train
y_train[:1]

396    12.5
Name: MEDV, dtype: float64

In [ ]:
#Hãy dữ báo giá trị medv khi biết giá trị của age và lstat lần lượt là 37.5 và 4.65
new_data = [[37.5, 4.65]]

new_data_scaled = scaler.transform(new_data)

predicted_medv = model.predict(new_data_scaled)

print("Giá trị dự báo của MEDV:", predicted_medv[0])

array([20.53978817])